$container-background-color : #0c0c0c;
$container-border-color     : #b2b66c;
$speech-color               : #fff;
$sub-container-border-color : #252525;
$sub-container-header-color : #858585;
$menu-text-color            : #cbcbcb;
$menu-text-mouseover-color  : #fff;
$menu-text-selected-color   : #bcff00;
