.game-log-root {
    position: absolute;
    left: 2vh;
    top: 72vh;
    width: calc(100% - 250px);
    height: 26vh;
}
.game-log-root-max {
    top: 22vh;
    height: 76vh;
}

.size-toggle-btn {
    position: absolute;    
    margin-top: -4.5vh;
    margin-left: 1vw;
    width: 3.5vw;
    height: 3.5vw;
    max-width: 28px;
    max-height: 28px;
    padding: 5px !important;
    border: none !important;
    cursor: pointer;
    background-color: transparent !important;
}

.players-online {
    position: absolute;    
    margin-top: -3vh;
    left: 4vw;
    font-family: Courier New;
    color: white;
    font-size: 1.5vh;
}

.size-toggle-btn img {
    max-width: 100%;
}

.game-log {    
    font-family: Courier New !important;
}

.game-log {
    background-color: rgba(0,0,0,0.9); /*#000000;*/ /*rgba(11,11,11,0.8) !important;*/
    position: absolute;
    /*margin-top: -8vh;
    margin-left: 5px;*/
    width: 100%;
    height: 100%;
    /*border-radius: 4px;*/
    overflow: hidden;
}

.game-log-body-wrapper {
    width: 100%;
    height: 19vh;
    word-wrap: break-word;
    /*word-break: break-all;*/
}
.game-log-body-wrapper-max {
    height: 69vh;
}

.game-log-body-scroll {
    position: absolute;
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    color: lightgrey;
    word-wrap: inherit;
    word-break: inherit;
}

.game-log-body {
    width: 100%;
    height: 100%;   
    display: table;    
    padding: 5px;
    pointer-events: none;
    word-wrap: inherit;
    word-break: inherit;
}

.game-log-message {
    display: table-row;
    vertical-align: bottom;
    width: 100%;
    word-wrap: inherit;
    word-break: inherit;   
    overflow: auto;
}

.game-log-message-field {
    display: table;
    font-size: 0.8em;
}
@media ( max-width: 750px ) {
    .game-log-message-field {
        font-size: 0.7em;
    }
}

.game-log-display-name {
    display: table-cell;
    float: left;
    font-weight: bold;
    pointer-events: all;
}

.game-log-msg {
    /*display: table-cell;*/
    float: left;
    margin-left: 5px;
    pointer-events: all;
    user-select: text;
    word-wrap: break-word;
}

.emote {
    font-style: italic;
}

.game-log-input-form {
    position: relative;
    width: 100%;
    height: 7vh;    
}

.form-list {
    list-style-type: none;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    position: relative;
    width: 100%;
}

.form-list > li {
    float: left;
    height: auto;
    width: 13%;
}

.msg-input-li {
    width: 82% !important;
    background-color: black !important;
    border-color: white !important;
}
@media ( max-width: 750px ) {
    .msg-input-li .form-control {
        height: 17px !important;
        padding: 2px 2px !important;
        font-size: 10px !important;
    }
}

.msg-input {
    width: 100%;    
    height: 37px !important;
    background-color: black !important;
    border-color: #777777 !important;
    color: white !important;
    font-family: Courier New;
}


.submit-btn, .submit-btn:hover, .submit-btn:focus, .submit-btn:active {
    margin-top: -0.5vh;
    margin-left: 2vh;
    max-width: 70%;
    /*background-image: url( '../../assets/img/DOM/send_btn.png' ) !important;*/
    color: black !important;
    border: 0 none !important;
    border-radius: 0 !important;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.submit-btn:hover {
    /*background-image: url( '../../assets/img/DOM/send_btn_hover.png' ) !important;*/
}

.submit-btn-img {
    max-width: 100%;
    max-height: 100%;
}
