.game-log-body-scroll {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: lightgrey;
    word-wrap: break-word;
}

.game-log-body {
    width: 100%;
    height: 100%;   
    display: table;    
    padding: 5px;
    pointer-events: none;
    word-wrap: inherit;
    word-break: inherit;
}

.game-log-message {
    display: table-row;
    vertical-align: bottom;
    width: 100%;
    word-wrap: inherit;
    word-break: inherit;   
    overflow: auto;
}

.game-log-message-field {
    display: table;
    margin-bottom: 5px;
}

.game-log-display-name {
    display: table-cell;
    float: left;
    font-weight: bold;
    pointer-events: all;
}

.game-log-msg {
    float: left;
    margin-left: 5px;
    pointer-events: all;
    user-select: text;
    word-wrap: break-word;
}

.emote {
    font-style: italic;
}
